html {
  padding: 0 2rem;
}

body {
  margin: 6rem auto;
  padding: 2rem;
  border: 2px;
  max-width: 56rem;
  color: rgba(0, 0, 0, 0.87);
  border: thin solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28rem;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
}

header {
  flex: 1 0 100%;
}

progress {
  width: 100%;
}

main {
  margin: 1rem;
}

input {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}

.options {
  display: flex;
}

.option {
  padding: 0.8rem;
  width: 50%;
  text-align: center;
  img {
    margin: auto;
  }
}

img {
  border-radius: 50%;
  max-width: 227px !important;
  width: 100%;
}

ol {
  padding-right: 2.5rem;
}
    
li.intro::marker {
    visibility: hidden;
    display: none;
    color: transparent;
}

button {
  padding: 0.4rem;
  background-color: rgb(15, 115, 189);
  border: none;
  border-radius: 0.2rem;
  text-align: center;
  color: white;
  width: 100%;
}

fieldset {
  border: none;
}

input:checked ~ img,
.selected {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  opacity: 1;
}

input:checked ~ img {
  box-shadow: 0px 0px 12px 6px #89cff0;
}

.correct {
  box-shadow: 0px 0px 12px 6px rgba(0, 255, 0, 0.5);
}

.incorrect {
  box-shadow: 0px 0px 12px 6px #ff0000;
}

input ~ img:hover,
input ~ h2:hover {
  cursor: pointer;
}

input:checked ~ h2 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  text-decoration: underline;
}

input:not(:checked) ~ img,
.deselected {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  opacity: 0.5;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}

input:not(:checked) ~ h2 {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  text-decoration: none;
}
